.header{
    display: flex;
    height: 70px;
    background-color: lightgray;
    justify-content: space-between;
    margin-top: 0;
    background-color: black;
}

.left-side{
 width: 400px;
 display: flex;
 align-items: center;
 margin-left: 30px;
}

.logo-button{
    margin-right: 12px;
    font-family: roboto, arial;
    font-size: 19px;
    font-weight: 500;
    border: none;
    display: flex;
    padding: 7px;
    background-color: black;
    color: white;
}

.logo-image{
    margin-right: 5px;
    background-color: white;
}

.help-center{
    font-family: roboto, arial;
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.help-center:hover{
    text-decoration: underline;
}



.right-side{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    
}


.submit-button,
.login-button{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom:7px ;
    border-radius: 5px;
    border-width: 1px;
    font-size:19px ;
    font-weight: 500;
    font-family: roboto, arial;
    color: white; 
}

.submit-button{
    background-color: rgb(41, 42, 43);
}

.login-button{
    margin-left: 15px;
    margin-right: 100px;
    border: none;
    background-color: rgb(72, 117, 240);
    
}